In [5]:
import matplotlib.pyplot as plt

In [231]:
def roll_the_dice(n_simulations = 1000):
    '''Two unbiased, six sided, dice are thrown one time and the sum of the
    faces is observed (so if you rolled a 3 and a 1, the sum is 4). A
    simulation estimates probability that the total score is an even number
    or a number greater than 7.  This is an estimated probability, based on
    rolling the two dice n_simulations times.

    Parameters
    ----------
    n_simulations: float
        Number of rolls of the dice

    Returns
    -------
    float
    '''
    import numpy as np
    from scipy import stats
    
    r = []
    
    for i in range(n_simulations):
        
        d_1 = np.random.randint(low = 1, high = 7)
        d_2 = np.random.randint(low = 1,high = 7)
        
        n = d_1+d_2
        r.append(n) 
        
    dist = stats.norm(np.mean(r), np.std(r))
    binom = stats.binom(n = n_simulations ,p = sum([1 if i%2 == 0 else 0for i in r])/len([1 if i%2 == 0 else 0for i in r]))
    res = (1 - dist.cdf(8))
    
    return res, binom

In [232]:
t, d = roll_the_dice()

In [233]:
t

0.33332837895020884

In [184]:
import pandas as pd
df = pd.read_csv('universities.csv')

def pandas_query(df):
    '''Returns a DataFrame containing the average size of each university
    type ordered by average size in ascending order.

    Function assumes the input DataFrame contains these columns:
        name, address, Website, Type, Size

    Parameters
    ----------
    df: Pandas DataFrame

    Returns
    -------
    Pandas DataFrame
    '''
    
    df_group = df.groupby('name')['Size'].mean().reset_index()
    
    df_final = df_group.sort_values(by = 'Size', ascending =  True).reset_index()
    
    
    return df_group

In [44]:
df.head()

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0

In [57]:
from scipy import stats

dist = stats.binom(n = 10, p = 0.6)

1 - dist.cdf(8)

0.046357401600000014

In [63]:
import numpy as np
t = np.array([10, 25, 12, 35, 14, 18, 16, 15, 22, 10, 9, 11, 49, 20, 15, 9, 18, 19, 20, 20])

print(t.mean())
np.std(t)**2

18.35

86.9275