# Decision Trees Assignment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data_cat = pd.read_csv('data_CT/playgolf_onlycat.csv')
data_con = pd.read_csv('data_CT/playgolf_onlycont.csv')

In [34]:
data_cat.head()

    Outlook  Windy      Result
0     sunny  False  Don't Play
1     sunny   True  Don't Play
2  overcast  False        Play
3      rain  False        Play
4      rain  False        Play

In [13]:
data_con.head()

   Temperature  Humidity      Result
0           85        85  Don't Play
1           80        90  Don't Play
2           83        78        Play
3           70        96        Play
4           68        80        Play

In [59]:
X=np.array(data_cat.drop('Result',axis=1))
split_index = 1
split_value = True
X1 = X[X[:,split_index] == split_value,:]
X[np.where(X[:,split_index] == split_value)]

array([['sunny', True],
       ['rain', True],
       ['overcast', True],
       ['sunny', True],
       ['overcast', True],
       ['rain', True]], dtype=object)

In [60]:
isinstance(split_index, int)

True

2

In [66]:
r = np.empty([X.shape[1],1])
r.shape

(2, 1)